<% include headerAdmin.ejs %>

<div class="dashboardheader">
   	<h1>Table of Pages</h1>
</div>
	
<div class="btnaddpage">
	<a href="/admin/addpage"><input type="button" value="Add Page"></a>
</div>


<div class = "table">
	<table id = main>
	<tr>
		<th>title</th>
		<th>updated</th>
		<th>options</th>
	</tr>

	<% for(var i=0; i<Object.keys(page).length; i++) {%>

	<tr>
		<td><a href = "<%= page[i].url%>" ><%= page[i].title %></a></td>
		<td><%= page[i].date %></td>
		<td>
		<table id = tblmain>
			<form method="post" action = "/admin/delete">
	     		<td id = tblmain><input type = "image" src="/images/delete.png" alt="delete" width="20" height="20" name = "page" value = "<%=page[i]._id%>"></td>
	     	</form>
	     	<form method="post" action = "/admin/editpage">
	     		<td id = tblmain><input type = "image" src="/images/edit.png" alt="editpage" width="20" height="20" name = "page" value = "<%=page[i]._id%>"></td>
	     	</form>
	     	<form method="post" action = "/admin/visability">
	     		<td id = tblmain><input type = "image" <% if(page[i].visable){ %> src="/images/visability.png" <% }else{ %> src="/images/invisable.png" <% } %>alt="visability" width="20" height="20" background = #555 name = "page" value = "<%=page[i]._id%>"></td>
	     	</form>
			</table>
		</td>
	</tr>

	<%}%>

	</table>
</div>

<% include footer.ejs %>
